* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.box-row {
  display: flex;
  justify-content: center;
}

.box {
  height: 10vh;
  width: 10vh;
  background: green;
  border: 1px solid black;
}

.box.active {
  background: red;
}

.box p {
  margin: 0;
  font-size: .5rem;
}